/* Global Styles */
:root {
  /* --primary-color: #ec8c37; */
  --primary-color: #ff4b2b;
  --dark-color: #17202a;
  --light-color: #f4f4f4;
  --success-color: #b4f0c9;
  --success-txt-color: #27633c;
  --grey-color: #bdbdbd;
  --lightgrey-color: #e0e0e0;
  --danger-color: #f4cac8;
  --danger-txt-color: #712b29;
  --info-color: #b0def0;
  --info-txt-color: #14516c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgba(234, 237, 237);
}

/* Utilities */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: contain;
}

.disabled {
  color: var(--grey-color);
}

/* .container {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  height: 100vh;
} */

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Button */
.btn {
  display: inline-block;
  padding: 0.8rem 1rem;
  background: var(--dark-color);
  color: var(--light-color);
  outline: none;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  /* width: 100px; */
}

.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-light {
  background: var(--lightgrey-color);
  color: var(--dark-color);
}

.btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}
.btn:hover {
  opacity: 0.8;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  max-width: 1500px;
  margin: auto;
}

footer {
  grid-area: footer;
  background: var(--dark-color);
  color: var(--light-color);
  height: 200px;
}
